:root{
  --primary-color: #e47742;
  --secondary-color: #bb86dd;
  --highlight-color: #febb99;
  --text-color: #222222;
  --bg-color: #f6f4f0;
  
}

*{
    margin: 0;
    padding: 0;
}

body{
  background-color: var(--bg-color);
  font-family: "Montserrat", sans-serif;
}

/* Estilos navbar */

.navbar-brand img{
  height: 40px;
  width: auto;
}

.santiagofest-navbar {
    background-color: transparent;
}

.nav-link {
    font-weight: 300;
    transition: color 0.8s ease;
}

.nav-link:hover {
    color: var(--secondary-color);
    font-weight: 400;
}

.btn-outline-success {
    color: black;
    border-color: black;
}

.btn-outline-success:hover{
    background-color: white;
    border-color: white;
    color: #FF8800;
}

/*Estilos de Tiky*/
.hero-section {
  position: relative;
  background-image: url("../img/mainbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 80vh;
  display: flex;
  align-items: center;
}

h1{
    color: var(--bg-color);
    font-size: 2em;
    font-family: "Lexend", sans-serif;
}

.white-text{
  color: var(--bg-color);
  font-size: 1em;
}

.boton-mapa{
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: 2px solid transparent;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.boton-mapa:hover{
  background-color: transparent;
  color: var(--bg-color);
  border-color: var(--bg-color);
}

.btn-outline-info.boton-mapa:active,
.btn-outline-info.boton-mapa:focus-visible{
  background-color: var(--secondary-color);
  border-color: transparent;
  color: var(--bg-color);
}
/*Fin Estilos de Tiky*/


/* //////////////////////////Secci칩n Explora  Ro*/

/* Secci칩n Explora */
#explora .feature-card {
  background-color: var(--bg-color);
  border: solid 1px var(--secondary-color);
  border-radius: 16px;
  overflow: visible;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

#explora .feature-card:hover {
  transform: translateY(-4px);
  box-shadow: 
    0 0 20px 4px var(--secondary-color),
    0 1.25rem 2rem rgba(0, 0, 0, 0.1);
}

/* Im치genes de tarjeta */
#explora .feature-image {
  width: 100%;
  height: 180px;      /* ajusta altura a lo que les guste */
  object-fit: cover;  /* recorta sin deformar */
}

/* Encabezado centrado */
#explora h2 {
  letter-spacing: 0.3px;
  color: var(--secondary-color);
  font-family: "Lexend", sans-serif;
}
#explora .explora-title {
  font-size: 3em;
  max-width: 760px;
  margin-inline: auto;
  color: var(--secondary-color);
  margin-bottom: 2rem;
  line-height: 1;
}

#explora .explora-description {
  color: var(--secondary-color);
}

#explora .feature-card-title {
  font-family: "Lexend", sans-serif;
}

/* Botones*/

.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.btn-outline-primary {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.btn.btn-outline-primary:hover {
  background-color: var(--secondary-color);
  border-color: transparent;
}

.btn.btn-outline-primary:active,
.btn.btn-outline-primary:focus-visible {
  background-color: var(--text-color);
  border-color: transparent;
  color: var(--bg-color);
}

#explora .feature-card .card-title{
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

#explora .feature-card .card-text {
  font-size: 0.95rem;
  line-height: 1.5;
  color: var(--secondary-color);
}

/* //////////////////////////Fin Secci칩n Explora  Ro*/

/* INICIO style para el carrusel de Santiago Fest */

.carousel-inner {
    border-radius: 20px;
    overflow: hidden;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.custom-caption {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 20px;
    backdrop-filter: blur(5px);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    padding: 20px;
}

.textFest2{
  font-family: "Lexend", sans-serif;
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 2rem;
  font-weight: 600;
}

/* FIN del style del Carrusel */

/* Parte de Erik */

.h2-comollegar{
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

.card {
  background-color: var(--bg-color);
  border-color: #bb86dd;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover{
  transform: translateY(-4px);
}

.card .card-title {
  color: var(--secondary-color);
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

/* Card text */
.card .card-text {
  color: var(--secondary-color);
  font-size: 1rem;
  line-height: 1.5;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}


/*Redes y footer*/
#final{
    background-color: var(--primary-color);
    text-align: left;
    color: var(--bg-color);
}

#final{
  background-color: var(--primary-color);
  color: var(--bg-color);
}